<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add card!</title>
  </head>
  <body>
    <h1>Add card</h1>
    <form method="POST">
        <label for="index">Index</label>
        <input type="text" name="index" />
        <label for="balance">Balance</label>
        <input type="text" name="balance" />
        <label for="age">Age</label>
        <input type="text" name="age" />
        <label for="eyeColor">Eye Color</label>
        <input type="text" name="eyeColor" />
        <label for="name">Name</label>
        <input type="text" name="name" />
        <label for="gender">Gender</label>
        <input type="text" name="gender" />
        <label for="email">Email</label>
        <input type="text" name="email" />
        <label for="phone">Phone</label>
        <input type="text" name="phone" />
        <label for="address">Address</label>
        <input type="text" name="address" />
        <button type="submit">Create</button>
    </form>
  </body>
</html>
